*{
    padding: 2rem;
    margin: 2rem;
}

body{
    background-color: rgb(139, 218, 218);
    padding: 2%;
    margin: 2%;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.country{
    display: flex;
    align-items: center ;
    font-size: 2 rem;
    opacity: 100;
    transition: opacity 1s;
}

.country-details{
    background-color: #fff;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    width: 30rem;
    border-radius: 0.7rem;
    margin: 0 3rem;
}

.country_img {
    width: 30rem;
    height: 17rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.country-details {
    padding: 2.5rem 3.75rem 3rem 3.75rem;
  }

  .country_name {
    font-size: 2.7rem;
    margin-bottom: 0.7rem;
  }
  
  .country_region {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    color: #888;
  }
  
  .country_row:not(:last-child) {
    margin-bottom: 1rem;
  }
  
  .country_row span {
    display: inline-block;
    margin-right: 2rem;
    font-size: 2.4rem;
  }
  
  .btn-country {
    border: none;
    font-size: 2rem;
    padding: 2rem 5rem;
    border-radius: 0.7rem;
    color: white;
    background-color: orangered;
    cursor: pointer;
  }
  
  .images {
    display: flex;
  }
  
  .images img {
    display: block;
    width: 80rem;
    margin: 4rem;
  }
  
  .images img.parallel {
    width: 40rem;
    margin: 2rem;
    border: 3rem solid white;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  }
  